@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-serif text-neutral-900 dark:text-neutral-100;
}

article {
	h1:first-of-type {
		@apply mt-0 text-4xl;
	}
	/* Typography */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-semibold mt-2 text-neutral-900 dark:text-neutral-100;
	}

	p,
	ul,
	ol {
		@apply text-lg leading-compact text-neutral-800 dark:text-neutral-200;
	}
	strong {
		@apply font-black;
	}

	p {
		@apply mb-4;
	}

	h1 {
		@apply text-3xl leading-tight;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
	h4 {
		@apply text-xl;
	}
	h5 {
		@apply text-lg;
	}
	h6 {
		@apply text-base;
	}

	/* Markup */
	ul,
	ol {
		@apply ml-5 mb-2 list-inside;
	}

	ul {
		@apply list-disc;
	}

	ol {
		@apply list-decimal;
	}

	pre {
		@apply p-2 rounded-xl overflow-scroll border border-neutral-600 dark:border-neutral-700;
		@apply bg-neutral-200 dark:bg-[#282c34] text-[#383a42] dark:text-[#abb2bf];
		@apply drop-shadow-[0_5px_6px_rgba(0,0,0,0.25)] dark:drop-shadow-[0_5px_6px_rgba(0,0,0,0.8)];
		@apply text-sm text-left whitespace-pre font-mono;
		direction: ltr;
		word-spacing: normal;
		word-break: normal;
		-moz-tab-size: 2;
		-o-tab-size: 2;
		tab-size: 2;
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
}
